{% block 'mainbody' %}
<div class="navbar-fixed" style="position: relative;"> 

 


  <nav  class="green ">
      <div class="nav-wrapper">
          <a href="/" class="brand-logo" style="padding-left: 10px;">e-Hadir Attendance System</a>
          <!-- <a href="/" class="brand-logo"><i style="font-size: 50px;" class="large material-icons">network_check</i></a> -->
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            
    
             
           </ul>
      </div>
    </nav>
</div>
 










 










{% endblock 'mainbody' %}


{% block 'js' %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {
      'Sidenav':true,
      
    });
    })
</script>
{% endblock 'js' %}





























