{% extends 'base.html' %}v
{% block 'mainbody' %}



<br>

<div class="container">
<center>
  {% if message  %}
    <h4 class="green-text">{{message}}</h4>
  {% endif %}

   {% if error  %}
    <h4 class="red-text">{{error}}</h4>
  {% endif %}

  
</center>


<div class="container">
    <form action="/account/signup" method="post" class='z-depth-2'  style="padding: 20px;border-radius: 10px;"> {% csrf_token %}
        <center>
          <img width="80vw" ; height="80vh" src="{{ STATIC_URL }}/Static/images/logo.png" alt="">
          <h3><b>Daftar Baru</b></h3>
        </center>

        <div class="select_teacher">
          <label>Nama</label>
          <select name='usernmae' class="browser-default"  id="select_teacher">
            <option value="" disabled selected>Pilih nama</option>
            {% for name  in teachers %}
              <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select> 
      </div>

        <div class="input-field ">
            <input id="email" name="email" type="email" class="validate">
            <label for="email">Emel</label>
          </div>

          <div class="input-field ">
            <input id="password" name="password" type="text" class="validate">
            <label for="password">Kata Laluan</label>
          </div>
 
     
        

        <a href="/account/login"> <u>Sudah mempunyai akaun</u> </a>

        <button class="btn right" style="width: 30%;">Daftar</button>
 <br>
 <br>

    </form>
</div>
</div>








 


{% endblock 'mainbody' %}
{% block 'js' %}
{% endblock 'js' %}