{% extends 'partials/dashboards/admin_engine.html' %}
{% block 'engine'%}

<style>
  tbody td {
    padding: 5px !important;
  }
</style>

<div style="margin:5px 20px">
  <center>
    <h3><b>Manage Reports</b></h3>
  </center>


<br><br><br>
  <div class="row">
    <div class="col s12 m4 l4">
      <a target="blank" href="generate_absent_report" class="white-text btn">Generate Absent Reports</a>
    </div>

        <div class="col s12 m4 l4">
      <a target="blank" href="generate_attendance_report" class="white-text btn">Generate Attendance Reports</a>
    </div>

        <div class="col s12 m4 l4">
      <a target="blank" href="generate_weekly_report"  class="white-text btn">Generate Weekly Reports</a>
    </div>

    
  </div>

  





</div> 

 

<script>
  
</script>


 
{% endblock 'engine' %}