{% extends 'partials/dashboards/admin_engine.html' %}
{% block 'engine'%}

<style>
  tbody td {
    padding: 5px !important;
  }
</style>

<div style="margin:5px 20px">



  <center>
    <h4  class="z-depth-2 blue accent-3 white-text" style="padding:10px;border-radius: 10px;"><b >Data Pelajar</b></h4> <br>
  </center> 
 <form action="" class="z-depth-2 " style="border-radius: 20px;padding:20px">
  <div class="input-field ">
    <input id="name" name="name" type="text" class="validate" value="{{student.name}}" readonly>
    <label for="name">Nama Pelajar</label>
  </div>
  <div class="input-field ">
    <input id="uid" name="uid" type="text" class="validate" value="{{student.uid}}" readonly>
    <label for="uid">ID Pelajar</label>
  </div> 
 </form>


  <br>
  <center>
    <h4  class="z-depth-2 blue accent-3 white-text" style="padding:10px;border-radius: 10px;"><b>Kelas</b></h4> <br>
  </center> 
  <a href="/dashboard/views_admin_panel_db_operations/manage_classes/"><button class="z-depth-2 blue accent-3 btn modal-trigger btn right">Tambah Kelas<i class="material-icons right">add</i> </button></a>


 <div>

  <table class="striped">
    <thead>
      <tr>
        <th>Bil.</th>
        <th>Tingkatan</th>
        <th>Nama Kelas</th>
        <th>Tindakan</th>
      </tr>
    </thead>

    <tbody>
      <tr>
      {% for class in enrolled_classes %}
      <td>{{ forloop.counter }}</td>
      <td>{{class.uid}}</td>
      <td>{{class}}</td> 
      <td> <i style="cursor: pointer;" id="{{class.uid}}__{{class.name}}__{{student.id}}" class="remove_class_from_profile  material-icons  red-text"> delete</i>  </td>

        </tr>
        {% endfor %}


    </tbody>
  </table>
</div> 

 








  <!-- Modal Structure -->
  <div id="attach_subject_modal" class="modal">
    <div class="modal-content"> 
      <h4><b>Tambah Mata Pelajaran</b></h4>
      <form action="" id="attach_subject_form">
        
        <div class="select_other_students">
          <label>Pilih Mata Pelajaran</label>
          <select name='class' class="browser-default"  id="select_other_subjects">

            <option value="" disabled selected>Select another Subject</option>
          
            {% for other_subject in other_subjects %}
            <option value="{{other_subject}}">{{other_subject}}</option>
              
            {% endfor %}
          </select>
          <br>
      </div>
        <button type="submit" class="btn right">Attach another Subject</button>
      </form>
      <br><br>
    </div>
  </div>


  <br>
  <center>
    <h4  class="z-depth-2 blue accent-3 white-text" style="padding:10px;border-radius: 10px;"><b >Mata Pelajaran</b></h4> <br>
  </center> 
  <button  id="attach_subject_modal_button" data-target="attach_subject_modal" class="z-depth-2 blue accent-3 btn modal-trigger btn right">Tambah Mata Pelajaran <i class="material-icons right">link</i> </button>


 <div>

  <table class="striped">
    <thead>
      <tr>
        <th>Bil.</th> 
        <th>Mata Pelajaran</th>
        <th>Tindakan</th>
      </tr>
    </thead>

    <tbody>
      <tr>
      {% for subject in enrolled_subjects %}
      <td>{{ forloop.counter }}</td>
      <td>{{subject}}</td> 
      <td> <i style="cursor: pointer;" id="{{subject}}__{{student.id}}" class="remove_subject_from_profile  material-icons  red-text"> delete</i>  </td>

        </tr>
        {% endfor %}


    </tbody>
  </table>
</div> 

 
<input type="text" style="width:1px;height:1px" name="" id="enrolled_standard" value="{{enrolled_standard}}">


<script>




  
$('.remove_subject_from_profile').click(function(e){
  var data = this.id.split("__");
  var subject = data[0] 
  var student_id = data[1] 
  $.ajax({
    url: "/dashboard/views_admin_panel_db_operations/manage_students_remove_subject_from_profile", 
    data: {"subject":subject,'student_id':student_id},
    success: function(data){ 
     location.reload()
    }
  }); 
})


$('.remove_class_from_profile').click(function(e){
  var data = this.id.split("__");
  var standard = data[0]
  var class_name = data[1]
  var student_id = data[2]
  $.ajax({
    url: "/dashboard/views_admin_panel_db_operations/manage_students_remove_class_from_profile/", 
    data: {"standard":standard,'student_id':student_id,'class_name':class_name},
    success: function(data){
     location.reload()
    }
  }); 
})


$('#attach_subject_form').submit(function(e){
  e.preventDefault()
  var standard = $('#enrolled_standard').val()
  var other_subject = $('#select_other_subjects').val()
  var student_id = "{{student.id}}" 
  $.ajax({
    url: "/dashboard/views_admin_panel_db_operations/manage_students_attach_subject_to_profile/", 
    data: {"standard":standard,'subject':other_subject,'student_id':student_id},
    success: function(data){ 
     location.reload()
    }
  }); 
})
</script>


 
{% endblock 'engine' %}