{% extends 'partials/dashboards/admin_engine.html' %}
{% block 'engine'%}

<style>
  tbody td {
    padding: 5px !important;
  }
</style>

<div style="margin:5px 20px">
  <br>
  <center>
    <h3><b>Urus Kelas</b></h3>
  </center>

<div class="row">
  <div class="col s6 l6 m6 select_standard"> 
    <label>Tingkatan</label>
    <select name='standard' class="browser-default"  id="select_standard">
        <option value="" disabled selected>Pilih Tingkatan</option>
        {% for standard  in standards %}
        <option value="{{standard}}">{{standard}}</option>
      {% endfor %}
    </select>
  </div>

  
  <div class="col s6 l6 m6">
    <div class="select_class" style="display: none">
      <label>Pilih Kelas</label>
      <select name='class' class="browser-default"  id="select_class">
      </select>
      <br>
  </div>
  </div>

</div>

            

  <!-- Modal Structure -->
  <div id="add_class_modal" class="modal">
    <div class="modal-content"> 
      <h4><b>Tambah Kelas</b></h4>
      <form action="" id="add_class_form">
        <div class="input-field ">
          <input id="class_val" name="class" type="text" class="validate" required>
          <label for="class_val">Nama Kelas</label>
        </div>
        <button type="submit" class="btn right">SEND</button>
      </form>
      <br><br>
    </div>
  </div>

  <!-- Modal Trigger -->

  <!-- Modal Structure -->
  <div id="add_student_modal" class="modal">
    <div class="modal-content"> 
      <h4><b>Add another Student</b></h4>
      <form action="" id="add_student_form">
        
        <div class="select_other_students" style="display: none">
          <label>Select Student</label>
          <select name='class' class="browser-default"  id="select_other_students">
          </select>
          <br>
      </div>
        <button type="submit" class="btn right">Tambah Pelajar ke Kelas</button>
      </form>
      <br><br>
    </div>
  </div>

  <!-- Modal Trigger -->


  <!-- deattach_subject_modal -->
  <div id="deattach_subject_modal" class="modal">
    <div class="modal-content"> 
      <h4><b>Deattach Subject</b></h4>
      <form action="" id="deattach_subject_form">
        
        <div class="select_other_students" style="display: none">
          <label>Select Subject</label>
          <select name='class' class="browser-default"  id="select_deattach_subject">
          </select>
          <br>
      </div>
        <button type="submit" class="btn right">Deattach Subject</button>
      </form>
      <br><br>
    </div>
  </div>

  <!-- Modal Trigger -->

  <!-- attach_subject_modal -->
  <div id="attach_subject_modal" class="modal">
    <div class="modal-content"> 
      <h4><b>Attach Subject</b></h4>
      <form action="" id="attach_subject_form">
        
        <div class="select_other_students" >
          <label>Select Subject</label>
          <select name='class' class="browser-default"  id="select_attach_subject">
          </select>
          <br>
      </div>
        <button type="submit" class="btn right">Attach Subject</button>
      </form>
      <br><br>
    </div>
  </div>

  <!-- Modal Trigger -->




  <button style="display: none;" id="delete_class_button" class="btn red">Delete Class <i class="material-icons right">delete</i> </button>

  <button style="display: none" id="add_class_modal_button" data-target="add_class_modal" class="btn modal-trigger btn right">Add Class</button>
  <button style="display: none;margin-right: 20px;" id="add_student_modal_button" data-target="add_student_modal" class="btn modal-trigger btn right">Add another Student</button>
  <button style="display: none;margin-right: 20px;" id="attach_subject_modal_button" data-target="attach_subject_modal" class="btn modal-trigger btn right">Attach Subject</button>
  <button style="display: none;margin-right: 20px;" id="deattach_subject_modal_button" data-target="deattach_subject_modal" class="btn modal-trigger btn right">Deattach  Subject</button>



  <table class="striped display_class_students" style="display: none;">
    <thead>
      <tr>
        <th>Bil.</th>
        <th>Name Pelajar</th>
        <th>Tindakan</th>
      </tr>
    </thead>
    <tbody id="display_class_students_tbody"> 
    </tbody>
  </table>

</div> 

 

<script>
  

  //id="deattach_subject_form">  select_deattach_subject


$('#deattach_subject_form').submit(function(e){
  e.preventDefault()
  var subject = $('#select_deattach_subject').val()
  var standard = $("#select_standard").val()
  var class_name = $("#select_class").val()
  $.ajax({ 
    url: "/dashboard/views_admin_panel_db_operations/manage_classes_deattach_subject", 
    data: {"standard":standard,'class_name':class_name,'subject':subject},
    success: function(data){   
      M.Modal.getInstance(document.getElementById("deattach_subject_modal")).close();
      M.toast({html: 'Subject Deattached to class',classes: 'rounded green'})
    }
  }) 
})


$('#attach_subject_form').submit(function(e){
  e.preventDefault()
  var subject = $('#select_attach_subject').val()
  var standard = $("#select_standard").val()
  var class_name = $("#select_class").val()
  
  $.ajax({ 
    url: "/dashboard/views_admin_panel_db_operations/manage_classes_attach_subject", 
    data: {"standard":standard,'class_name':class_name,'subject':subject},
    success: function(data){   
      M.Modal.getInstance(document.getElementById("attach_subject_modal")).close();
      M.toast({html: 'Subject Attached to class',classes: 'rounded green'})
    }
  }) 
 
})




  
$('#add_student_form').submit(function(e){
    e.preventDefault()
    var standard = $("#select_standard").val()
    var class_val = $('#select_class').val() 
    var student_id = $('#select_other_students').val()  

    $.ajax({ 
      url: "/dashboard/views_admin_panel_db_operations/manage_classes_add_student", 
      data: {"standard":standard,'class':class_val,'student_id':student_id},
      success: function(data){ 
        var elem = document.getElementById("add_student_modal");
        var instance = M.Modal.getInstance(elem);
        instance.close();
        var students = data.students
        var other_students = data.other_students

        $('div.select_other_students').show();
        $('select#select_other_students').html('') 
        $('select#select_other_students').append(`<option value="" disabled selected>Select Student</option> `)
        for(var x=0;x<other_students.length;x++){
            $('select#select_other_students').append(`
            <option id="${other_students[x][1]}" value="${other_students[x][1]}">${other_students[x][0]}</option> 
            `)
        }



        $('#display_class_students_tbody').html('')
        for(var i=0;i<students.length;i++){
          $('#display_class_students_tbody').append(`
          <tr id="${students[i][1]}">
            <td>${i+1}</td>
            <td>  <a  target="_blank" href="/dashboard/views_admin_panel_db_operations/manage_students_extract_data/${students[i][1]}">${students[i][0]}</a>  </td>
            <td onclick="remove_student(${students[i][1]})"> <i class="material-icons  red-text"> delete</i>  </td>
          </tr>
          `) 
        } 




      }
    }); 
  })

















  

$('#delete_class_button').click(function(e){
  var standard = $("#select_standard").val()
  var class_val = $('#select_class').val()
  $.ajax({
    url: "/dashboard/views_admin_panel_db_operations/manage_classes_delete/", 
    data: {"standard":standard,'class':class_val},
    success: function(data){
      location.reload()
    }
  });

})


$('#add_class_form').submit(function(e){
  e.preventDefault()
  var standard = $("#select_standard").val()
  var class_val = $('#class_val').val()
  $.ajax({
    url: "/dashboard/views_admin_panel_db_operations/manage_classes_add/", 
    data: {"standard":standard,'class':class_val},
    success: function(data){
      location.reload()
    }
  });

})


$('#select_class').change(function(e){
    $('#add_student_modal_button').show();
    $('#attach_subject_modal_button').show();
    $('#deattach_subject_modal_button').show();
    $('#delete_class_button').show();
    $('.display_class_students').hide()
    $('.nextbtn').hide();
    class_value = $(this).find(":selected").val() 
    $.ajax({
        url: "/dashboard/views_admin_panel_db_operations/manage_classes/get_class_students", 
        data: {"standard":standard_value,'class':class_value},
        success: function(data){
          $('.display_class_students').show()
          var students = data.students
          var other_students = data.other_students
          var subjects = data.subjects
          



          $('div.select_deattach_subject').show();
          $('select#select_deattach_subject').html('') 
          $('select#select_deattach_subject').append(`<option value="" disabled selected>Select Subject</option> `)
          for(var x=0;x<subjects.length;x++){
              $('select#select_deattach_subject').append(`
              <option id="${subjects[x]}" value="${subjects[x]}">${subjects[x]}</option> 
              `)
          }



          $('div.select_attach_subject').show();
          $('select#select_attach_subject').html('') 
          $('select#select_attach_subject').append(`<option value="" disabled selected>Select Subject</option> `)
          for(var x=0;x<subjects.length;x++){
              $('select#select_attach_subject').append(`
              <option id="${subjects[x]}" value="${subjects[x]}">${subjects[x]}</option> 
              `)
          }





          $('div.select_other_students').show();
          $('select#select_other_students').html('') 
          $('select#select_other_students').append(`<option value="" disabled selected>Select Student</option> `)
          for(var x=0;x<other_students.length;x++){
              $('select#select_other_students').append(`
              <option id="${other_students[x][1]}" value="${other_students[x][1]}">${other_students[x][0]}</option> 
              `)
          }






          $('#display_class_students_tbody').html('')
          for(var i=0;i<students.length;i++){
            $('#display_class_students_tbody').append(`
              <tr id="${students[i][1]}">
                <td>${i+1}</td>
                <td>  <a  target="_blank" href="/dashboard/views_admin_panel_db_operations/manage_students_extract_data/${students[i][1]}">${students[i][0]}</a>  </td>
                <td onclick="remove_student(${students[i][1]})"> <i class="material-icons  red-text"> delete</i>  </td>
              </tr>
            `) 
          } 
        }
        
      });
})









function remove_student(id){ 
  var standard = $("#select_standard").val()
  var class_val = $('#select_class').val() 
  var student_id = id
  

  $.ajax({ 
    url: "/dashboard/views_admin_panel_db_operations/manage_classes_remove_student/", 
    data: {"standard":standard,'class':class_val,'student_id':student_id},
    success: function(data){ 
      var elem = document.getElementById("add_student_modal");
      var instance = M.Modal.getInstance(elem);
      instance.close();
      var students = data.students
      var other_students = data.other_students

      $('div.select_other_students').show();
      $('select#select_other_students').html('') 
      $('select#select_other_students').append(`<option value="" disabled selected>Select Student</option> `)
      for(var x=0;x<other_students.length;x++){
          $('select#select_other_students').append(`
          <option id="${other_students[x][1]}" value="${other_students[x][1]}">${other_students[x][0]}</option> 
          `)
      }



      $('#display_class_students_tbody').html('')
      for(var i=0;i<students.length;i++){
        $('#display_class_students_tbody').append(`
        <tr id="${students[i][1]}">
          <td>${i+1}</td>
          <td>  <a target="_blank"  href="/dashboard/views_admin_panel_db_operations/manage_students_extract_data/${students[i][1]}">${students[i][0]}</a>  </td>
          <td onclick="remove_student(${students[i][1]})"> <i class="material-icons  red-text"> delete</i>  </td>
        </tr>
        `) 
      } 




    }
  }); 
 

  
}








$('#select_standard').change(function(e){     
    $('#add_student_modal_button').hide();
    $('#attach_subject_modal_button').hide();
    $('#deattach_subject_modal_button').hide();
    $('#delete_class_button').hide();
    $('div.select_class').hide();
    $('div.select_subject').hide();
    $('.display_class_students').hide()
    $('.nextbtn').hide();
    var standard = $(this).find(":selected").val()
    standard_value = standard 
    $.ajax({
        url: "/dashboard/get_classes", 
        data: {"standard":standard_value},
        success: function(data){
            var classes = data.classes
            
            $('div.select_class').show();
            $('select#select_class').html('') 
            $('select#select_class').append(`<option value="" disabled selected>Select Class</option> `)
            for(var x=0;x<classes.length;x++){
                $('select#select_class').append(`
                <option value="${classes[x]}">${classes[x]}</option> 
                `)
            }


            $('#add_class_modal_button').show();
        }
      });
      
})

</script>


 
{% endblock 'engine' %}