{% extends 'partials/dashboards/admin_engine.html' %}
{% block 'engine'%}

<style>
  tbody td {
    padding: 5px !important;
  }
</style>

<div style="margin:5px 20px">
  <br>
  <center>
    <h3><b>Urus Guru</b></h3>
  </center>



   <!-- Modal Structure -->
   <div id="add_teacher_modal" class="modal">
    <div class="modal-content"> 
      <h4><b>Tambah Guru</b></h4>
      <form action="" id="add_student_form">
        <div class="input-field ">
          <input id="teacher_name" name="teacher_name" type="text" class="validate" required>
          <label for="teacher_name">Nama Guru</label>
        </div>
        
      
        <button type="submit" class="btn right">Tambah Guru</button>
      </form>
      <br><br>
    </div>
  </div>



  

  <button  id="add_teacher_modal_button" data-target="add_teacher_modal" class="btn modal-trigger btn right">Tambah Guru</button>




  <table class="striped">
    <thead>
      <tr>
        <th>Bil.</th>
        <th>Name Guru</th>
        <th>Tindakan</th>
      </tr>
    </thead>

    <tbody>
      <tr>
      {% for teacher in teachers %}
      <td>{{ forloop.counter }}</td>
      <td> <a target="_blank"  href="/dashboard/views_admin_panel_db_operations/manage_teachers_extract_data/{{teacher.id}}">   {{teacher.name}}</a> </td>
      <td> <a href="/dashboard/views_admin_panel_db_operations/manage_teachers_delete/{{teacher.id}}"><i class="material-icons  red-text"> delete</i></a>  </td>

        </tr>
        {% endfor %}


    </tbody>
  </table>

</div> 

 

<script>
  $('#add_student_form').submit(function(e){
    e.preventDefault()
    var teacher_name = $('#teacher_name').val() 
    $.ajax({
      url: "/dashboard/views_admin_panel_db_operations/manage_teachers_add", 
      data: {'teacher_name':teacher_name},
      success: function(data){ 
        if ( data.error){
          alert(data.error)
        }else{ 
        location.reload() 
        }
      }
    }); 
  })
</script>


 
{% endblock 'engine' %}