{% extends 'partials/dashboards/teacher_engine.html' %}
{% block 'engine'%}
<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  tbody td {
    padding: 0px !important;
  }


  tbody tr p {
    margin: 0% !important;
    padding: 0% !important
  }

  [type="radio"]:checked+span:after, [type="radio"].absent_with-gap:checked+span:after {
    background-color:rgb(255, 0, 0);
  }
  [type="radio"]:checked+span:after, [type="radio"].absent_with-gap:checked+span:before, 
  [type="radio"].with-gap:checked+span:after {
    border: 2px solid rgb(255, 0, 0);
  }


  [type="radio"]:checked+span:after, [type="radio"].late_with-gap:checked+span:after {
    background-color:rgb(75, 75, 75);
  }
  [type="radio"]:checked+span:after, [type="radio"].late_with-gap:checked+span:before, 
  [type="radio"].with-gap:checked+span:after {
    border: 2px solid rgb(75, 75, 75);
  }



</style>
<br>
<br>
<br>
<br>



<div style="margin:10px  10px">
  <div class="row">


    <div class="col s12 l3 m3">
      <button id="mark_all_present" class="btn">Mark all Present</button>  <br><br>
    </div>

    <div class="col s12 l3 m3">
      <button id="mark_all_late" class="btn grey darken-3">Mark all Late</button>  <br><br>
    </div>

    <div class="col s12 l3 m3">
      <button id="mark_all_absent" class="btn red">Mark all Absent</button>  <br><br>
    </div>



    <div class="col s12 l3 m3">
      {% if normal_date %}
      <input type="button" class="datepicker btn"  name="date" value="{{normal_date}}">
      
      {% else %}
      <input type="button" class="datepicker btn"  name="date" value="Select date">
        
      {% endif %}
      

    </div>

  </div>

  <p>
    <span><b><u>{{standard}}</u></b> > <b><u>{{class}}</u></b> > <b><u>{{subject}}</u></b></span> 
  </p>

  <form action="/dashboard/teacherpanel/load_attendance_sheet/{{report_uid}}" method="POST"> {% csrf_token %}
    <table class="bordered">
      <thead>
        <tr>
          <th style="text-align:center !important">Index</th>
          <th style="width:70% !important">Name</th>
          <th>Present</th>
          <th>Late</th>
          <th>Absent</th>
        </tr>
      </thead>
      <tbody>



        {% for student in students %}
        <tr>
          <td style="text-align:center !important">{{ forloop.counter }}</td>
          <td style="width:70% !important;padding-left: 10px !important;">{{student.0}}</td>

          
          
          


          
          <td style="text-align: center !important;">
            <p>
              <label>
                {% if student.2 == 'Present' %}
                <input data-code="P" class="present_with-gap with-gap {{student.1}}p" name="{{student.1}}" id="{{student.1}}p"  type="radio"  checked/>
                {% else %}
                <input data-code="P" class="present_with-gap with-gap {{student.1}}p" name="{{student.1}}" id="{{student.1}}p"  type="radio"  />
                
                {% endif %}
                <span></span>
              </label>
            </p>
          </td>
          

          <td style="text-align: center !important;">
            <p>
              <label>
                {% if student.2 == 'Late' %}
                <input data-code="L" class="late_with-gap with-gap {{student.1}}l" name="{{student.1}}" id="{{student.1}}l" type="radio" checked/>
                
                {% else %}
                <input data-code="L" class="late_with-gap with-gap {{student.1}}l" name="{{student.1}}" id="{{student.1}}l" type="radio" />
                {% endif %}
                
                <span></span>
              </label>
            </p>
          </td>


          <td style="text-align: center !important;">
            <p>
              <label>
                {% if student.2 == 'Absent' %}
                <input data-code="A" class="absent_with-gap with-gap {{student.1}}a" name="{{student.1}}" id="{{student.1}}a" type="radio" checked/>
                
                {% else %}
                
                <input data-code="A" class="absent_with-gap with-gap {{student.1}}a" name="{{student.1}}" id="{{student.1}}a" type="radio" />
                {% endif %}
                
                <span></span>
              </label>
            </p>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <input type="text" name="report_uid" id="{{report_uid}}" value="{{report_uid}}" style="width:1px ; height:1px !important">
    <input type="text" name="data" id="data" style="width:1px ; height:1px !important">
    <input type="text"  id="date"  name="date" style="width:1px ; height:1px !important" value="{{normal_date}}">



    <center>
      <button class="btn " type="submit" >Submit</button>
    </center>
    
    <br><br>
    <br><br>

  </form>



</div>


<script>
  $('.datepicker').change(function(e){
    var date = $('.datepicker').val()
    $('#date').val(date)
  })
  
  var list = []
  $('form').submit(function (e) {
    var date = $('.datepicker').val()
    var ids = "{{ids}}".replace('[', '').replace(']', '').split(',')
    if ($('.with-gap:checked').length < ids.length) {
      alert("Please fill the entire Attendance Sheet !")
      e.preventDefault()
    }
    else if(date=='Select date' || date==undefined || date==''){
      alert("Please select Date !")
      e.preventDefault() 
    }
    else {
      var decision = confirm("Are u sure to submit this attendance form ?")
      if (decision == true) {
        list = []
        var elems = $('.with-gap:checked')
        for (var i = 0; i < elems.length; i++) {
          var class_names = elems[i].className.split(/\s+/)[2]
          list.push(class_names)
        }
        $('#data').val(list)  
        
      }
      else {
        e.preventDefault()
      }

    }
  })








</script>


<script>

  $('#mark_all_present').click(function () {
    $('.with-gap').attr('checked', false)
    var elems = $('.with-gap')
    for (var i = 0; i < elems.length; i++) {
      var code = elems[i].getAttribute("data-code")
      if (code == 'P') {
        $('input[data-code="P"]').attr('checked', true)
        $('input[data-code="L"]').attr('checked', false)
        $('input[data-code="A"]').attr('checked', false)
      }
    }
  })


 
    $('#mark_all_late').click(function () { 
       $('.with-gap').attr('checked', false)

       var elems = $('.with-gap')
       for (var i = 0; i < elems.length; i++) {
         var code = elems[i].getAttribute("data-code")
         if (code == 'L') {
           $('input[data-code="L"]').attr('checked', true) 
         }
       }
    })
   


    $('#mark_all_absent').click(function () { 
       $('.with-gap').attr('checked', false)

       var elems = $('.with-gap')
       for (var i = 0; i < elems.length; i++) {
         var code = elems[i].getAttribute("data-code")
         if (code == 'A') {
           $('input[data-code="A"]').attr('checked', true) 
         }
       }
    })
   






</script>
{% endblock 'engine' %}
{% block 'js' %}
{% endblock 'js' %}