{% extends 'partials/dashboards/teacher_engine.html' %}
{% block 'engine'%}
<br>
    <br>
    <center>
    <img width="160vw" ; height="160vh" src="{{ STATIC_URL }}/Static/images/logo.png" alt="">
</center>    
    <br>
    <br>
<style> 
      tbody td{padding: 8px !important;} 
  
  
      tbody tr p {
        margin: 0% !important;
        padding: 0% !important
      }

      tbody tr:nth-child(even) {
        background: rgb(245, 245, 245)
      }

</style>


<br>

<div style="margin:10px  10px" >

    

    <table class="">
        <thead>
          <tr>
              <th>Tingkatan</th>
              <th>Kelas</th>
              <th>Mata Pelajaran</th>
              <th>Masa Kedatangan</th>
              <th>Edit</th>
              <th>Muat Turun</th>
              <th>Padam</th>
          </tr>
        </thead>
        <tbody>
            {% for report in teacher_reports %} 
            <tr>          
                    <td>{{report.standard}}</td>            
                    <td>{{report.class_name}}</td>            
                    <td>{{report.subject}}</td>    
                    {% if report.normal_date %}
                      
                    <td>{{report.normal_date}}</td>            
                    {% else %}
                    <td>{{report.submit_time}}</td>            
                      
                    {% endif %}
                    
                    

                    <td><a  href="/dashboard/teacherpanel/load_attendance_sheet/{{report.report_uid}}" target="_blank"><i class="material-icons">edit</i></a></td>            
                    <td><a  href="/dashboard/teacherpanel/pdf_attendance_sheet/{{report.report_uid}}" target="_blank"><i class="material-icons">cloud_download</i></a></td>            
                    <td><a  href="/dashboard/teacherpanel/delete_attendance_sheet/{{report.report_uid}}" ><i class="material-icons red-text">delete</i></a></td>            
                </tr> 
            {% endfor %}  
        </tbody>
      </table>

</div>

<script>
</script>
{% endblock 'engine' %}
{% block 'js' %}
{% endblock 'js' %}